.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/background_img/Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;

}

.hero-text {
    color: $whiteColor;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.main-button {
    color: $whiteColor;
    background-color: $accentColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 216px;
    height: 50px;
    border: none;
    cursor: pointer;
    pointer-events: all;
}

.button-font {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}