.team-card__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

}

.team-card__spec {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 28px;
}


.team-card__info {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    left: 1115px;
    top: 1632px;
}


.team-section--backgroundColor {
    display: flex;
    justify-content: center;
    background-color: #f5f4fa;
    margin: 0;
    width: 100%;
}