html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    margin: 0;
    
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
@media screen and (min-width:480px){
            padding-top: 60px;
    padding-bottom: 60px;
    }
}


.main-container {
    margin-bottom: 0;
    width: 100%;
 @media screen and (min-width:480px){
        width: 480px;
    }
    @media screen and (min-width:768px) {
        width: 768px;
    }
     @media screen and (min-width:1200px) {
        width: 100%;
    }
}

.padding-reset {
    padding-bottom: 0;
    padding-top: 0;
}





.team-section-container {
    width: 1200px;
}

.list-content {
    // display: flex;
    // justify-content: center;
    // justify-content: space-between;

}