html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    margin: 0;
    
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.main-container {
    margin-bottom: 0;
}

.padding-reset {
    padding-bottom: 0;
    padding-top: 0;
}



.icon-container {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
}

.team-section-container {
    width: 1200px;
}

.list-content {
    display: flex;
    justify-content: center;
    justify-content: space-between;

}