body {
    font-family: roboto, sans-serif;
    color: $primaryColor;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-size: 14px;
}
.text-decoration {
    text-decoration: none;
    color: $titleColor;
}
.list {
    text-decoration: none;
    list-style-type: none;
}
.title {
    color: $titleColor;
}
.section-article {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (min-width:1199px) {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px
    }
}
