/* основной текст #757575; */
/* вторичный текст #212121; */
/* акцент #2196F3; */
/* белый текст шрифта #ffffff */
$accentColor: #2196f3;
$primaryColor: #757575;
$titleColor: #212121;
$whiteColor: #ffffff;
$backgroundColor: #2f303a;
$backgroundColor: #2f303a;
$fontWeightRegular:400;
$fontWeightMedium:500;
$fontWeightBold:700;
$fontWeightBlack:900;
$fontPrimary:  "Roboto", Arial, sans-serif;
$fontSecondary: "Raleway", Arial, sans-serif;