/* основной текст #757575; */
/* вторичный текст #212121; */
/* акцент #2196F3; */
/* белый текст шрифта #ffffff */

$accentColor: #2196f3;
$primaryColor: #757575;
$titleColor: #212121;
$whiteColor: #ffffff;
$backgroundColor: #2f303a;